/**
 * Nova Field Rounded Styles
 */

.ck.ck-editor__main
    position: relative
    display: flex
    flex-direction: column
    padding: 20px
    background: hsl(0, 0%, 98%)
    border-radius: 10px

.ck.ck-reset.ck-editor
    .ck.ck-toolbar
        border-radius: 10px
        border: 1px solid var(--ck-color-toolbar-border)

    .ck-editor__editable_inline
        @import "./figures.sass"
        @import "./blocks.sass"
        height: auto !important

        width: 21cm
        min-height: 29.7cm

        padding: 3cm 2cm 2cm 3cm

        border: 1px hsl(0, 0%, 82.7%) solid
        border-radius: 2px
        background: white

        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1)

        margin: 0 auto

.ck-responsive-form
    .ck-labeled-input
        margin-left: 0 !important
        margin-bottom: 8px !important
        display: block
        float: none !important
        width: 100% !important


.ck-widget.raw-html-embed
    .raw-html-embed__buttons-wrapper
        z-index: 1

.ck-content
    ul
        list-style: disc
        padding-left: 40px

    ol
        list-style: decimal
        padding-left: 40px

.w-4\/5
    width: 80%

.p-sticky
    position: sticky

.max-h-full
    max-height: 100%

.nc-grid-cols-6
    grid-template-columns: repeat(6, minmax(0, 1fr))

/**
 * Style plugin custom blocks classes
 */

.ck.ck-content
    p.ai-info-box
        padding: 1.2em 2em
        border: 1px solid #fb90b4
        border-left: 10px solid #fb90b4
        border-radius: 5px

